footer
  div.lockup

    div.content-wrap
      nav
        a(href='#about-me') Sobre
        a(href='#Experenice') Experiência
        a(href='#Blog') Blog
        a(href='#Details') Contato


      p.copyright Luísa Borges Mendonça 2019
