.history
  .cd-timeline-header
    h2#Experenice Experiência
    hr.bar

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading UDF Centro Universitário
          P
            | Análise e Desenvolvimento de Sistemas

          span.cd-date 2016 - 2017
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/idea14.svg", alt="College")
        // cd-timeline-img
        .cd-timeline-content
          h2 ANAC - Agência Nacional de Aviação Civil
          p
            | Estagiária
          span.cd-date Set 2016 - Set 2017
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Xys Interatividade
          p
            | Desenvolvedor Jr

          span.cd-date Set 2017 - Fev 2018
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/web-programming.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Pix Tecnologia
          p
            | Analista de Sistemas Automatizados

          span.cd-date Jul 2018 - Atual
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/hosting.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Integration Engineer with Example
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date May 2015 - Current
        // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src="../assets/img/question30.svg", alt="Location")
        // cd-timeline

  .cd-timeline-header
    h2
