<section>
    <h2 id="about-me">Sobre</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>Estudante de tecnologia, 21 anos, desenvolvedora e analista de sistemas automatizados.</p>
    </div>
    <div class="skill-lock"></div>
</section>