<section class="section-contact">
    <h2 id="Details">Detalhes do Contato</h2>
    <hr class="bar" />
    <div class="social-links"><a href="https://www.facebook.com/luisa.borges.733">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a><a href="https://ie.linkedin.com/in/luísa-borges-mendonça-115aab13a/">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a><a href="https://github.com/LuisaBorges">
            <div class="glyph-icon flaticon-github"></div>
        </a></div>
    <hr class="bar" /><a href="mailto:example@gmail.com" class="biglink"></a>
</section>