<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experiência</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">UDF Centro Universitário</h2>
                <P>Análise e Desenvolvimento de Sistemas</P>
                <span class="cd-date">2016 - 2017</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/idea14.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>ANAC - Agência Nacional de Aviação Civil</h2>
                <p>Estagiária</p>
                <span class="cd-date">Set 2016 - Set 2017</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Xys Interatividade</h2>
                <p>Desenvolvedor Jr.</p>
                <span class="cd-date">set 2017 - fev 2018</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Pix Tecnologia</h2>
                <p>Analista de Sistemas Automatizados</p>
                <span class="cd-date">jul 2018 - Atual</span>
            </div><!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location" /></div>
            </div><!-- cd-timeline-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>