<section>
    <h2 id="Contact">Contato</h2>
    <hr class="bar" />
    <form method="post" action="//formspree.io/example@gmail.com">
        <div class="contact-info-group"><label><span>Seu Nome</span><input type="text"
                    name="name" /></label><label><span>Seu Email</span><input type="email" name="_replyto" /></label>
        </div><label><span>Mensagem</span><textarea name="Message"></textarea>
            <div class="submit-wrap"><input type="submit" value="Send" /></div></label>
    </form>
</section>